/* Background color */
$text-color-1: rgb(255, 255, 255);
$text-color-1-a: rgba(255, 255, 255,0.1);
$text-color-2: rgb(2, 10, 50);
$text-color-3: rgb(105, 0, 82);
$text-color-4: rgb(137, 6, 186);
$text-color-think: rgb(162, 78, 232);
$text-color-create: rgb(10, 156, 116);
$text-color-code: rgb(255, 207, 53);
$text-color-deliver: rgb(193, 0, 77);

$bg-color-1: rgb(255, 255, 255);