
$text-color-1: rgb(28, 1, 108);
$text-color-2: rgb(80, 74, 234);
$text-color-3: rgb(139, 51, 229);
$text-color-4: rgb(23, 141, 170);
$text-color-5: rgb(182, 241, 255);

$bg-color-1: rgb(28, 0, 102);

$bdr-color-1: rgb(228, 0, 255);