/* Variables */
/* Mixins */
/* Mixins */
/* Animation */
/* Font */
/* Fonts */
@font-face {
  font-family: "MontserratBlack";
  src: url("../../assets/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBlackItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBoldItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraBoldItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraLight";
  src: url("../../assets/fonts/Montserrat/MontserratExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraLightItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratLight";
  src: url("../../assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratLightItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMediumItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratSemiBoldItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratThin";
  src: url("../../assets/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratThinItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
}

/* Logo */
.logo {
  margin: 3rem auto 1rem;
  width: 83.5%;
}

/* Hero */
.hero {
  width: 83.5%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6rem;
}

.hero .brain {
  position: absolute;
  opacity: 0.15;
  height: 100%;
  z-index: -1;
  top: 0;
}

.hero .brain.brain-1, .hero .brain.brain-2, .hero .brain.brain-3, .hero .brain.brain-4, .hero .brain.brain-5, .hero .brain.brain-6, .hero .brain.brain-7 {
  opacity: 0;
  transition: all ease-out 1s;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  -ms-animation: all ease-out 1s;
}

/* Hero */
.intro {
  margin: auto;
  width: 83.5%;
}

.intro .title {
  font-family: 'MontserratExtraBold';
  color: transparent;
  -webkit-text-stroke: 0.15rem #e400ff;
  text-align: center;
  font-size: 6.5rem;
}

.intro .title div {
  display: inline-block;
}

.intro .name {
  font-family: 'MontserratLight';
  color: #504aea;
  text-align: center;
  font-size: 3rem;
}

.intro .description {
  font-family: 'MontserratRegular';
  color: #504aea;
  text-align: center;
  font-size: 1.6rem;
  width: 70%;
  margin: auto;
}

.intro .go {
  text-align: center;
}

/* Think */
#think {
  width: 73.5%;
  margin: 5rem auto 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#think .think-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#think .think-title .title-no {
  font-family: 'MontserratLight';
  color: #8b33e5;
  text-align: right;
  font-size: 15rem;
  opacity: 0.5;
  line-height: 0;
}

#think .think-title .title-sec {
  text-align: right;
}

#think .think-title .title-sec .title {
  font-family: 'MontserratBold';
  color: #8b33e5;
  text-align: right;
  font-size: 7.2rem;
  line-height: 0;
}

#think .think-title .title-sec .caption {
  font-family: 'MontserratBold';
  color: #178daa;
  text-align: right;
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 3.4;
  text-transform: uppercase;
}

#think .think-brain .brain {
  position: relative;
  opacity: 0.15;
  width: 100%;
  z-index: -1;
  top: 0;
}

#think .think-brain .brain.brain-1, #think .think-brain .brain.brain-2, #think .think-brain .brain.brain-3, #think .think-brain .brain.brain-4, #think .think-brain .brain.brain-5, #think .think-brain .brain.brain-6, #think .think-brain .brain.brain-7 {
  left: 0;
  position: absolute;
  opacity: 0;
  transition: all ease-out 1s;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  -ms-animation: all ease-out 1s;
}

#think .think-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.5rem;
}

#think .think-content p {
  font-family: 'MontserratBold';
  color: #178daa;
  font-size: 3rem;
  line-height: 1.1;
  padding-top: 2rem;
}

#think .think-content p .span-think {
  color: #8b33e5;
}

#think .think-content p .span-tools {
  color: #b6f1ff;
}

/* Scroll */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19005C;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2E056E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A72CC5;
}

/* Animations */
/* Mixins */
/* Animation */
body {
  -webkit-animation: fadeInAnimation ease 1s;
          animation: fadeInAnimation ease 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CSS */
html, body {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #1c0066 url("../img/bg.jpg") no-repeat top;
  background-size: cover;
  height: 100vh;
  transition: all ease-out 0.2s;
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -ms-animation: all ease-out 0.2s;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, a:hover, a:active, a:focus, input, button, textarea {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

.opacity {
  opacity: 1 !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    margin: 0;
    padding: 1rem;
  }
  .hero {
    height: 25rem;
    padding-top: 3rem;
  }
  .hero img.portfolio {
    width: 98%;
  }
  .intro .title {
    font-size: 5.5rem;
    line-height: 1.1;
  }
  .intro .title .dot {
    display: none;
  }
  .intro .name {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bolder;
  }
  .intro .description {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.3;
  }
  .intro .go {
    margin-top: 1rem;
  }
  #think {
    width: 95%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .logo {
    margin: 0;
    padding: 1rem;
  }
  .hero {
    height: 25rem;
    padding-top: 3rem;
  }
  .hero img.portfolio {
    width: 98%;
  }
  .intro .description {
    width: 98%;
  }
  #think {
    width: 95%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 811px) {
  .hero {
    height: 50rem;
  }
  .hero img.portfolio {
    width: 90%;
  }
  #think {
    width: 95%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 812px) and (max-width: 991px) {
  .hero {
    height: 25rem;
  }
  .hero img.portfolio {
    width: 100%;
  }
  .intro .description {
    width: 98%;
  }
  #think {
    width: 95%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #think {
    width: 95%;
  }
}

/* Extra large devices (Extra large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #think {
    width: 73.5%;
    margin-top: 10rem;
  }
}

/* Double Extra large devices (Double Extra large laptops and desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
  .logo {
    margin: 5rem auto 2rem;
    width: 73.5%;
  }
  .hero {
    height: 50rem;
  }
  .intro {
    margin-top: 5rem;
  }
  .intro .description {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */