/* Variables */
/* Mixins */
/* Mixins */
/* Animation */
/* Font */
/* Fonts */
@font-face {
  font-family: "MontserratBlack";
  src: url("../../assets/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBlackItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBoldItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraBoldItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraLight";
  src: url("../../assets/fonts/Montserrat/MontserratExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraLightItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratLight";
  src: url("../../assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratLightItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMediumItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratSemiBoldItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratThin";
  src: url("../../assets/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratThinItalic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
}

/* Logo */
.logo {
  margin: 3rem auto 1rem;
  width: 83.5%;
}

/* Hero */
.hero {
  width: 83.5%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6rem;
}

.hero .brain {
  position: absolute;
  opacity: 0.15;
  height: 100%;
  z-index: -1;
  top: 0;
}

.hero .brain.brain-1, .hero .brain.brain-2, .hero .brain.brain-3, .hero .brain.brain-4, .hero .brain.brain-5, .hero .brain.brain-6, .hero .brain.brain-7 {
  opacity: 0;
  transition: all ease-out 1s;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  -ms-animation: all ease-out 1s;
}

/* Hero */
.intro {
  margin: auto;
  width: 83.5%;
}

.intro .title {
  font-family: 'MontserratExtraBold';
  color: transparent;
  -webkit-text-stroke: 0.15rem #e400ff;
  text-align: center;
  font-size: 6.5rem;
}

.intro .title div {
  display: inline-block;
}

.intro .name {
  font-family: 'MontserratLight';
  color: #504aea;
  text-align: center;
  font-size: 3rem;
}

.intro .description {
  font-family: 'MontserratRegular';
  color: #504aea;
  text-align: center;
  font-size: 1.6rem;
  width: 70%;
  margin: auto;
}

.intro .go {
  text-align: center;
}

/* Scroll */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19005C;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2E056E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A72CC5;
}

/* Animations */
/* Mixins */
/* Animation */
body {
  -webkit-animation: fadeInAnimation ease 1s;
          animation: fadeInAnimation ease 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CSS */
html, body {
  font-size: 62.5%;
}

body {
  background: #1c0066 url("../img/bg.jpg") no-repeat top;
  background-size: cover;
  height: 100vh;
  transition: all ease-out 0.2s;
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -ms-animation: all ease-out 0.2s;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, a:hover, a:active, a:focus, input, button, textarea {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

.opacity {
  opacity: 1 !important;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (Extra large laptops and desktops, 1200px and up) */
/* Double Extra large devices (Double Extra large laptops and desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
  .logo {
    margin: 5rem auto 2rem;
    width: 73.5%;
  }
  .hero {
    height: 50rem;
  }
  .intro {
    margin-top: 5rem;
  }
  .intro .description {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */